ul.facsimiles
	position absolute
	bottom 0
	background black
	list-style none
	white-space nowrap
	padding-top 3px
	padding-left 1px

	li
		inline-block()
		
		img
			select-none()
			
.verso-recto
	position absolute
	top 10px
	left 10px
	height calc(100% - 126px)
	max-width 50%
	select-none()
	
	canvas
		position absolute
	
	img
		height 100%
		inline-block()